openapi: 3.1.0
info:
  title: GAMAD Core API
  version: 1.0.0
  description: >-
    Première API opérationnelle du Core. Toute écriture d'identité exige une
    session bearer, une décision CAP-CORE-004, un mandat actif lorsque le canal
    est réservé, et une preuve dans le journal opérationnel.
servers:
  - url: https://console.dgafrique.com/api/v1
    description: Serveur GAMAD Core.
tags:
  - name: Exploitation
  - name: Sessions
  - name: Identités
  - name: Autorisation
  - name: Fédération
  - name: Produits
paths:
  /health/live:
    get:
      tags: [Exploitation]
      operationId: verifierVie
      summary: Vérifie que le processus HTTP répond.
      responses:
        "200":
          description: Processus vivant.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vie"
  /health/ready:
    get:
      tags: [Exploitation]
      operationId: verifierReadiness
      summary: Vérifie connexions, migrations, configuration et chaîne d'audit.
      responses:
        "200":
          description: Service prêt à recevoir du trafic.
        "503":
          description: Une dépendance ou exigence de production manque.
  /sessions:
    post:
      tags: [Sessions]
      operationId: ouvrirSession
      summary: Échange un authentificateur contre une session bearer temporaire.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entite, secret]
              properties:
                entite:
                  type: string
                  maxLength: 64
                secret:
                  type: string
                  writeOnly: true
      responses:
        "201":
          description: Session ouverte. La réponse ne doit jamais être mise en cache.
          headers:
            Cache-Control:
              schema:
                type: string
              example: no-store
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          description: Identifiant ou secret refusé.
        "429":
          description: Limite de tentatives atteinte.
        "503":
          description: Journal indisponible; aucune session n'est conservée.
  /sessions/passkey/options:
    post:
      tags: [Sessions]
      operationId: preparerSessionPasskey
      summary: Prépare une assertion WebAuthn à vérification utilisateur obligatoire.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entite]
              properties:
                entite:
                  type: string
                  maxLength: 64
      responses:
        "200":
          description: Challenge public, temporaire et à usage unique.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CeremoniePasskey"
        "429":
          description: Limite de tentatives atteinte.
        "503":
          description: Registre d'accès indisponible.
  /sessions/passkey:
    post:
      tags: [Sessions]
      operationId: ouvrirSessionPasskey
      summary: Vérifie l'assertion WebAuthn et ouvre une session bearer A2.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entite, ceremonie, credential]
              properties:
                entite:
                  type: string
                  maxLength: 64
                ceremonie:
                  type: string
                  maxLength: 64
                credential:
                  type: object
                  additionalProperties: true
      responses:
        "201":
          description: Session A2 ouverte et auditée; réponse non cachable.
          headers:
            Cache-Control:
              schema:
                type: string
              example: no-store
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          description: Assertion, challenge ou entité refusé.
        "429":
          description: Limite de tentatives atteinte.
        "503":
          description: Journal indisponible; la session A2 est révoquée.
  /sessions/current:
    delete:
      tags: [Sessions]
      operationId: fermerSession
      security:
        - bearerSession: []
      responses:
        "200":
          description: Résultat de la révocation et preuve.
        "401":
          description: Session invalide.
  /autorisation/decisions:
    post:
      tags: [Autorisation]
      operationId: prendreDecisionAutorisation
      security:
        - bearerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  maxLength: 256
                ressource:
                  type: [string, "null"]
                  maxLength: 256
      responses:
        "200":
          description: Décision expliquée, mandat constaté et preuve chaînée.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecisionAvecPreuve"
        "401":
          description: Session invalide.
        "503":
          description: Une dépendance requise est indisponible.
  /identites:
    get:
      tags: [Identités]
      operationId: listerIdentites
      security:
        - bearerSession: []
      parameters:
        - in: query
          name: type
          schema:
            type: string
      responses:
        "200":
          description: Inventaire des identités lisibles.
        "401":
          description: Session invalide.
    post:
      tags: [Identités]
      operationId: inscrireIdentite
      summary: Inscrit une identité après autorisation et vérification du mandat.
      description: >-
        La politique `POL-INSCRIPTION-IDENTITES-V1` permet à
        `AUT-GAMAD-001`, sous mandat actif, d'utiliser les canaux réservés
        `AUTORITE` et `CREATION_TECHNIQUE`. Les autres sujets et les dossiers
        hors politique restent refusés.
      security:
        - bearerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InscriptionIdentite"
      responses:
        "201":
          description: Identité inscrite et preuve produite.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'action ou le mandat réservé manque.
        "422":
          description: Le registre d'identités refuse le dossier gouverné.
        "503":
          description: Le journal est indisponible; aucune écriture n'a lieu.
  /identites/{reference}:
    get:
      tags: [Identités]
      operationId: lireIdentite
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Identité résolue.
        "404":
          description: Identité inconnue.
  /identites/{reference}/regime:
    get:
      tags: [Identités]
      operationId: lireRegimeIdentite
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Régime de vérité de l'identité.
        "404":
          description: Identité inconnue.
  /identites/{reference}/assurance:
    get:
      tags: [Identités]
      operationId: lireAssuranceIdentite
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Assurance de l'identité autorisée.
        "403":
          description: L'appelant n'est ni l'identité ni l'autorité.
  /mandats/{fonction}:
    get:
      tags: [Autorisation]
      operationId: lireMandat
      security:
        - bearerSession: []
      parameters:
        - in: path
          name: fonction
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Mandat résolu.
        "404":
          description: Aucun mandat applicable.
  /produits:
    get:
      tags: [Fédération]
      operationId: listerProduits
      summary: Catalogue des satellites et accès de l'identité appelante.
      description: >-
        Ne restitue que ce que le Portail peut montrer : nom du produit, état
        d'activation, niveau d'accès et dernière ouverture. Aucune donnée métier
        du satellite ne traverse cette frontière.
      security:
        - bearerSession: []
      responses:
        "200":
          description: Produits connus et accès actifs du porteur.
        "401":
          description: Session invalide.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{produit}/ouverture:
    post:
      tags: [Fédération]
      operationId: ouvrirAccesFedere
      summary: Provisionne le compte local et émet un jeton borné au satellite.
      description: >-
        Le provisionnement est idempotent : répéter la demande ne crée pas un
        second compte local. Le jeton émis est limité à ce satellite, à une
        durée courte, aux portées de la liste close, à la session Core et au
        niveau d'assurance qui l'ont produit. Il n'est retourné qu'une fois.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Produit"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                identite:
                  type: string
                  maxLength: 64
                  description: >-
                    Par défaut l'identité de la session. Ouvrir pour autrui
                    n'est possible qu'à l'autorité d'inscription.
                relation_type:
                  type: string
                  enum:
                    [
                      UTILISATEUR,
                      CLIENT,
                      ANNONCEUR,
                      ADMINISTRATEUR,
                      OPERATEUR,
                      RESPONSABLE_PRODUIT,
                      PROPRIETAIRE_INSTITUTIONNEL,
                      PARTENAIRE,
                    ]
                sujet_local_opaque:
                  type: string
                  maxLength: 256
                duree:
                  type: integer
                  minimum: 30
                  maximum: 300
      responses:
        "201":
          description: Accès ouvert, jeton fédéré remis une seule fois.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'ouverture.
        "422":
          description: >-
            Produit non reconnu, identité non utilisable, acteur incompétent ou
            durée hors bornes.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{produit}/verification:
    post:
      tags: [Fédération]
      operationId: verifierJetonFedere
      summary: Échange un jeton fédéré contre l'identité qu'il porte.
      description: >-
        Réservé au satellite destinataire, qui s'authentifie sous sa propre
        référence produit. Le jeton est à usage unique et toutes ses conditions
        sont revérifiées à la présentation : audience, expiration, révocation,
        session Core et lien produit.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Produit"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [jeton]
              properties:
                jeton:
                  type: string
                  maxLength: 256
                  writeOnly: true
      responses:
        "200":
          description: Jeton valide et consommé ; identité et portées restituées.
        "401":
          description: Jeton inconnu, étranger, expiré, révoqué ou déjà consommé.
        "403":
          description: L'appelant n'est pas le satellite destinataire.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{produit}/revocation:
    post:
      tags: [Fédération]
      operationId: revoquerAccesFedere
      summary: Ferme le lien produit et les jetons encore ouverts.
      description: >-
        Ouverte au porteur, au satellite concerné et à l'autorité. Fermer un
        accès ne supprime ni l'identité GAMAD ni les données que le satellite
        détient légalement.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Produit"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                identite:
                  type: string
                  maxLength: 64
      responses:
        "200":
          description: Lien clos et jetons fermés.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la révocation.
        "422":
          description: Aucun accès actif à révoquer.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{reference}:
    get:
      tags: [Produits]
      operationId: resoudreProduit
      summary: Fiche opérationnelle d'un produit (CAP-CORE-011).
      description: >-
        Un produit ACTIF est visible de toute session. Un produit non actif
        n'est visible qu'à son propriétaire ou à l'autorité d'inscription ;
        les autres appelants reçoivent 404, sans distinguer l'inexistence du
        refus.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Fiche du produit et ses environnements.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
    patch:
      tags: [Produits]
      operationId: modifierProduit
      summary: Modifie les métadonnées non immuables d'un produit.
      description: >-
        La référence et l'identité canonique associée ne se modifient jamais.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nom_canonique:
                  type: string
                  maxLength: 255
                nom_affichage:
                  type: string
                  maxLength: 255
                type_produit:
                  type: string
                  enum: [PORTAIL, SATELLITE, SERVICE_CORE, PARTENAIRE, APPLICATION_INTERNE]
                proprietaire_reference:
                  type: string
                  maxLength: 64
                federation_autorisee:
                  type: boolean
      responses:
        "200":
          description: Métadonnées mises à jour.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la modification.
        "404":
          description: Produit inconnu.
        "503":
          description: Une dépendance requise est indisponible.
  /produits:
    post:
      tags: [Produits]
      operationId: inscrireProduit
      summary: Inscrit un produit dans le registre, en PREPARATION.
      description: >-
        Aucune activation n'est automatique. L'identité canonique doit déjà
        exister au Registre des identités, de type `produit`, et ne peut être
        attachée qu'à un seul produit.
      security:
        - bearerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                [reference, identite_reference, nom_canonique, nom_affichage, type_produit, proprietaire_reference]
              properties:
                reference:
                  type: string
                  maxLength: 64
                identite_reference:
                  type: string
                  maxLength: 64
                nom_canonique:
                  type: string
                  maxLength: 255
                nom_affichage:
                  type: string
                  maxLength: 255
                type_produit:
                  type: string
                  enum: [PORTAIL, SATELLITE, SERVICE_CORE, PARTENAIRE, APPLICATION_INTERNE]
                proprietaire_reference:
                  type: string
                  maxLength: 64
      responses:
        "201":
          description: Produit inscrit en PREPARATION.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'inscription.
        "409":
          description: Référence déjà utilisée ou identité déjà liée à un autre produit.
        "422":
          description: Dossier invalide, identité inconnue ou de type incorrect.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{reference}/activation:
    post:
      tags: [Produits]
      operationId: activerProduit
      summary: Active un produit inscrit (idempotente).
      description: >-
        Un produit ne s'active jamais lui-même. Recevable depuis PREPARATION
        ou SUSPENDU seulement ; RETIRE est terminal.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                motif:
                  type: string
                  maxLength: 500
      responses:
        "200":
          description: "Produit ACTIF (déjà actif : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'activation.
        "404":
          description: Produit inconnu.
        "422":
          description: Auto-activation ou état incompatible.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{reference}/suspension:
    post:
      tags: [Produits]
      operationId: suspendreProduit
      summary: Suspend un produit actif ; ferme sa fédérabilité et ses jetons ouverts.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                motif:
                  type: string
                  maxLength: 500
      responses:
        "200":
          description: "Produit SUSPENDU (déjà suspendu : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la suspension.
        "404":
          description: Produit inconnu.
        "422":
          description: Seul un produit ACTIF se suspend.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{reference}/retrait:
    post:
      tags: [Produits]
      operationId: retirerProduit
      summary: Retire un produit du registre, en ajout seul et irréversible.
      description: >-
        Ne supprime rien ; la référence n'est jamais réutilisable.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                motif:
                  type: string
                  maxLength: 500
      responses:
        "200":
          description: "Produit RETIRE (déjà retiré : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse le retrait.
        "404":
          description: Produit inconnu.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{reference}/environnements:
    get:
      tags: [Produits]
      operationId: resoudreEnvironnements
      summary: Environnements déclarés d'un produit, actifs et fermés.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Liste des environnements.
        "401":
          description: Session invalide.
        "404":
          description: Produit inconnu ou non visible.
    post:
      tags: [Produits]
      operationId: declarerEnvironnement
      summary: Déclare ou remplace un environnement du produit.
      description: >-
        Une URL de production doit être HTTPS. Une nouvelle URL clôt
        l'ancienne version active du même environnement plutôt que de la
        réécrire. Une audience de fédération n'appartient jamais à deux
        produits actifs.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [environnement, api_base_url, audience_federation]
              properties:
                environnement:
                  type: string
                  enum: [DEVELOPPEMENT, RECETTE, PRODUCTION]
                api_base_url:
                  type: string
                  maxLength: 2048
                health_url:
                  type: string
                  maxLength: 2048
                audience_federation:
                  type: string
                  maxLength: 64
                date_debut:
                  type: string
                  format: date
      responses:
        "201":
          description: Environnement déclaré.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la déclaration.
        "404":
          description: Produit inconnu.
        "422":
          description: URL invalide ou audience déjà utilisée par un autre produit actif.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{reference}/environnements/{id}/fermeture:
    post:
      tags: [Produits]
      operationId: fermerEnvironnement
      summary: Ferme un environnement (idempotente) ; ne le supprime pas.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                date_fin:
                  type: string
                  format: date
      responses:
        "200":
          description: "Environnement fermé (déjà fermé : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la fermeture.
        "404":
          description: Produit ou environnement inconnu.
        "503":
          description: Une dépendance requise est indisponible.
  /sources:
    get:
      tags: [Sources]
      operationId: listerSources
      summary: Liste les sources visibles de la session (CAP-CORE-006).
      description: >-
        Une source ACTIVE est visible de toute session. Une source non active
        n'est visible qu'à son propriétaire ou à l'autorité d'inscription.
      security:
        - bearerSession: []
      parameters:
        - in: query
          name: etat
          schema:
            type: string
            enum: [PREPARATION, ACTIVE, SUSPENDUE, RETIREE]
        - in: query
          name: type
          schema:
            type: string
            enum: [PRODUIT_GAMAD, SERVICE_CORE, ORGANISATION, INSTITUTION, PARTENAIRE, SYSTEME_EXTERNE, IMPORT_GOUVERNE, CANAL_DECLARATIF]
      responses:
        "200":
          description: Liste des sources visibles.
        "401":
          description: Session invalide.
    post:
      tags: [Sources]
      operationId: inscrireSource
      summary: Inscrit une source dans le registre, en PREPARATION.
      description: >-
        Aucune activation n'est automatique. Le propriétaire doit être une
        identité connue de CAP-CORE-001 ; le produit producteur, s'il est
        fourni, doit être un produit ACTIF connu de CAP-CORE-011.
      security:
        - bearerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reference, nom_canonique, nom_affichage, type_source, proprietaire_reference]
              properties:
                reference:
                  type: string
                  maxLength: 64
                nom_canonique:
                  type: string
                  maxLength: 255
                nom_affichage:
                  type: string
                  maxLength: 255
                type_source:
                  type: string
                  enum: [PRODUIT_GAMAD, SERVICE_CORE, ORGANISATION, INSTITUTION, PARTENAIRE, SYSTEME_EXTERNE, IMPORT_GOUVERNE, CANAL_DECLARATIF]
                proprietaire_reference:
                  type: string
                  maxLength: 64
                categorie:
                  type: string
                  maxLength: 500
                description:
                  type: string
                  maxLength: 2000
                produit_producteur_reference:
                  type: string
                  maxLength: 64
                reserve:
                  type: string
                  maxLength: 2000
      responses:
        "201":
          description: Source inscrite en PREPARATION.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'inscription.
        "409":
          description: Référence déjà utilisée.
        "422":
          description: Dossier invalide, propriétaire ou produit producteur inconnu.
        "503":
          description: Une dépendance requise est indisponible.
  /sources/{reference}:
    get:
      tags: [Sources]
      operationId: resoudreSource
      summary: Fiche opérationnelle d'une source, sa vérification, ses finalités et sa lignée (CAP-CORE-006).
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Fiche de la source, vérification courante, finalités actives et lignée.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
    patch:
      tags: [Sources]
      operationId: modifierSource
      summary: Modifie les métadonnées révisables d'une source.
      description: >-
        La référence, le nom canonique et le type ne se modifient jamais.
        Chaque modification crée une nouvelle révision, en ajout seul.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nom_affichage:
                  type: string
                  maxLength: 255
                categorie:
                  type: string
                  maxLength: 500
                description:
                  type: string
                  maxLength: 2000
                proprietaire_reference:
                  type: string
                  maxLength: 64
                produit_producteur_reference:
                  type: string
                  maxLength: 64
                reserve:
                  type: string
                  maxLength: 2000
      responses:
        "200":
          description: Métadonnées mises à jour (nouvelle révision).
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la modification.
        "404":
          description: Source inconnue.
        "503":
          description: Une dépendance requise est indisponible.
  /sources/{reference}/lignee:
    get:
      tags: [Sources]
      operationId: resoudreLigneeSource
      summary: Lignée amont et aval d'une source.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Relations de lignée amont (parentes) et aval (dérivées).
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
    post:
      tags: [Sources]
      operationId: declarerLigneeSource
      summary: Déclare une relation de lignée vers une source parente.
      description: >-
        Toute relation qui fermerait un cycle est refusée avant écriture.
        L'ajout d'une relation ne supprime jamais une relation antérieure.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [source_parente_reference, type_relation]
              properties:
                source_parente_reference:
                  type: string
                  maxLength: 64
                type_relation:
                  type: string
                  enum: [DERIVEE_DE, AGREGE, REMPLACE, CORRIGE]
      responses:
        "201":
          description: Relation de lignée déclarée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la déclaration.
        "404":
          description: Source ou source parente inconnue.
        "422":
          description: Relation invalide ou cycle de lignée détecté.
        "503":
          description: Une dépendance requise est indisponible.
  /sources/{reference}/finalites:
    get:
      tags: [Sources]
      operationId: resoudreFinalitesSource
      summary: Finalités actives déclarées pour une source.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Liste des finalités actives.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
    post:
      tags: [Sources]
      operationId: declarerFinaliteSource
      summary: Déclare une finalité d'usage, bornée par consommateur et par période.
      description: >-
        La source doit être ACTIVE. Le produit consommateur, s'il est fourni,
        doit être un produit ACTIF connu de CAP-CORE-011. Aucune finalité
        n'est jamais implicite.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [finalite_reference]
              properties:
                finalite_reference:
                  type: string
                  maxLength: 128
                produit_consommateur_reference:
                  type: string
                  maxLength: 64
                date_debut:
                  type: string
                  format: date
                date_fin:
                  type: string
                  format: date
                restriction:
                  type: string
                  maxLength: 1000
      responses:
        "201":
          description: Finalité déclarée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la déclaration.
        "404":
          description: Source ou produit consommateur inconnu.
        "409":
          description: Conflit de dates avec une finalité déjà active.
        "422":
          description: Dossier invalide ou source non active.
        "503":
          description: Une dépendance requise est indisponible.
  /sources/{reference}/finalites/{id}/fermeture:
    post:
      tags: [Sources]
      operationId: fermerFinaliteSource
      summary: Ferme une finalité (idempotente) ; ne la supprime pas.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                date_fin:
                  type: string
                  format: date
      responses:
        "200":
          description: "Finalité fermée (déjà fermée : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la fermeture.
        "404":
          description: Source ou finalité inconnue.
        "503":
          description: Une dépendance requise est indisponible.
  /sources/{reference}/verification:
    get:
      tags: [Sources]
      operationId: resoudreVerificationSource
      summary: Vérification opérationnelle courante d'une source.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Niveau, résultat et échéance de la vérification courante, si elle existe.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
  /sources/{reference}/verifications:
    post:
      tags: [Sources]
      operationId: enregistrerVerificationSource
      summary: Enregistre une vérification, en ajout seul.
      description: >-
        Une source ne s'auto-atteste jamais : pour le niveau `ATTESTEE`, le
        vérificateur doit être distinct du producteur de la source.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [niveau, resultat, verifie_par_reference]
              properties:
                niveau:
                  type: string
                  enum: [NON_VERIFIEE, DECLAREE, CONTROLEE, ATTESTEE]
                resultat:
                  type: string
                  enum: [VALIDE, INVALIDE, EXPIREE]
                verifie_par_reference:
                  type: string
                  maxLength: 64
                verifie_le:
                  type: string
                  format: date
                expire_le:
                  type: string
                  format: date
                motif:
                  type: string
                  maxLength: 1000
      responses:
        "201":
          description: Vérification enregistrée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'enregistrement.
        "404":
          description: Source inconnue.
        "422":
          description: Dossier invalide ou auto-attestation refusée.
        "503":
          description: Une dépendance requise est indisponible.
  /sources/{reference}/utilisabilite:
    post:
      tags: [Sources]
      operationId: verifierUtilisabiliteSource
      summary: Vérifie si une source est utilisable pour un consommateur et une finalité donnés.
      description: >-
        Renvoie une réponse explicable, énumérant chaque motif de refus. Ne
        constitue pas à elle seule une autorisation : la couche applicative
        doit encore demander une décision à CAP-CORE-004 pour l'opération
        qu'elle prépare.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [finalite]
              properties:
                consommateur:
                  type: string
                  maxLength: 64
                finalite:
                  type: string
                  maxLength: 128
      responses:
        "200":
          description: Résultat explicable (utilisable ou liste de motifs de refus).
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
  /sources/{reference}/activation:
    post:
      tags: [Sources]
      operationId: activerSource
      summary: Active une source inscrite (idempotente).
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                motif:
                  type: string
                  maxLength: 500
      responses:
        "200":
          description: "Source activée (déjà active : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'activation.
        "404":
          description: Source inconnue.
        "422":
          description: État incompatible avec une activation.
        "503":
          description: Une dépendance requise est indisponible.
  /sources/{reference}/suspension:
    post:
      tags: [Sources]
      operationId: suspendreSource
      summary: Suspend une source active (idempotente) ; ferme immédiatement tout nouvel usage.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                motif:
                  type: string
                  maxLength: 500
      responses:
        "200":
          description: "Source suspendue (déjà suspendue : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la suspension.
        "404":
          description: Source inconnue.
        "422":
          description: État incompatible avec une suspension.
        "503":
          description: Une dépendance requise est indisponible.
  /sources/{reference}/retrait:
    post:
      tags: [Sources]
      operationId: retirerSource
      summary: Retire une source (idempotente, irréversible) ; ne supprime rien.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                motif:
                  type: string
                  maxLength: 500
      responses:
        "200":
          description: "Source retirée (déjà retirée : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse le retrait.
        "404":
          description: Source inconnue.
        "503":
          description: Une dépendance requise est indisponible.
  /politiques:
    get:
      tags: [Politiques]
      operationId: listerPolitiques
      summary: Liste les politiques visibles de la session (CAP-CORE-007).
      security:
        - bearerSession: []
      responses:
        "200":
          description: Liste des politiques visibles.
        "401":
          description: Session invalide.
    post:
      tags: [Politiques]
      operationId: inscrirePolitique
      summary: Inscrit une politique dans le registre, sans version.
      security:
        - bearerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reference, libelle, proprietaire_reference, source_reference]
              properties:
                reference: { type: string, maxLength: 64 }
                libelle: { type: string, maxLength: 255 }
                domaine: { type: string, maxLength: 128 }
                proprietaire_reference: { type: string, maxLength: 64 }
                source_reference: { type: string, maxLength: 500 }
                description: { type: string, maxLength: 2000 }
      responses:
        "201":
          description: Politique inscrite.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'inscription.
        "409":
          description: Référence déjà utilisée.
        "422":
          description: Dossier invalide ou propriétaire inconnu.
        "503":
          description: Une dépendance requise est indisponible.
  /politiques/{reference}:
    get:
      tags: [Politiques]
      operationId: resoudrePolitique
      summary: Fiche d'une politique, ses versions et son historique (CAP-CORE-007).
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Fiche de la politique, versions et historique de cycle.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
  /politiques/{reference}/versions:
    get:
      tags: [Politiques]
      operationId: listerVersionsPolitique
      summary: Liste les versions d'une politique.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Liste des versions.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
    post:
      tags: [Politiques]
      operationId: creerVersionPolitique
      summary: Crée une nouvelle version en BROUILLON.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version]
              properties:
                version: { type: string, maxLength: 32, description: "Format X.Y.Z" }
                description: { type: string, maxLength: 2000 }
                date_effet_prevue: { type: string, format: date }
      responses:
        "201":
          description: Version créée en BROUILLON.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la création.
        "404":
          description: Politique inconnue.
        "409":
          description: Version déjà utilisée.
        "422":
          description: Format de version invalide.
        "503":
          description: Une dépendance requise est indisponible.
  /politiques/{reference}/historique:
    get:
      tags: [Politiques]
      operationId: resoudreHistoriquePolitique
      summary: Historique complet du cycle de toutes les versions d'une politique.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Historique daté des transitions de cycle.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
  /politiques/{reference}/versions/{version}:
    get:
      tags: [Politiques]
      operationId: resoudreVersionPolitique
      summary: Fiche d'une version précise, avec ses règles.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      responses:
        "200":
          description: Version et ses règles.
        "401":
          description: Session invalide.
        "404":
          description: Politique ou version inconnue.
  /politiques/{reference}/versions/{version}/regles:
    post:
      tags: [Politiques]
      operationId: ajouterRegleVersion
      summary: Ajoute une règle à une version en BROUILLON.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [effet, action_reference, motif]
              properties:
                effet: { type: string, enum: [PERMET, REFUSE] }
                action_reference: { type: string, maxLength: 256 }
                sujet_reference: { type: string, maxLength: 64 }
                ressource_reference: { type: string, maxLength: 256 }
                motif: { type: string, maxLength: 2000 }
                ordre: { type: integer, minimum: 1 }
      responses:
        "201":
          description: Règle ajoutée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'ajout.
        "404":
          description: Politique ou version inconnue.
        "409":
          description: Ordre déjà utilisé.
        "422":
          description: "Version immuable (hors BROUILLON) ou dossier invalide."
        "503":
          description: Une dépendance requise est indisponible.
  /politiques/{reference}/versions/{version}/regles/{id}:
    patch:
      tags: [Politiques]
      operationId: modifierRegleVersion
      summary: Modifie une règle d'une version encore en BROUILLON.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Règle modifiée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la modification.
        "404":
          description: Règle inconnue.
        "422":
          description: Version immuable.
        "503":
          description: Une dépendance requise est indisponible.
  /politiques/{reference}/versions/{version}/soumission:
    post:
      tags: [Politiques]
      operationId: soumettreVersionPolitique
      summary: Soumet une version BROUILLON à validation ; elle devient immuable.
      description: >-
        Calcule l'empreinte de contenu de la version au moment de la
        soumission. Idempotente si déjà EN_VALIDATION.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      responses:
        "200":
          description: Version EN_VALIDATION.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la soumission.
        "404":
          description: Politique ou version inconnue.
        "422":
          description: "État incompatible, ou aucune règle."
        "503":
          description: Une dépendance requise est indisponible.
  /politiques/{reference}/versions/{version}/simulation:
    post:
      tags: [Politiques]
      operationId: simulerVersionPolitique
      summary: Simule une version EN_VALIDATION sur un jeu de cas explicite, sans effet de bord.
      description: >-
        N'évalue jamais les versions actives : seules les règles de la
        version exacte simulée. Une activation exige au moins une simulation
        REUSSIE de cette version.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [jeu_reference, cas]
              properties:
                jeu_reference: { type: string, maxLength: 128 }
                cas:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [sujet, action, attendu]
                    properties:
                      sujet: { type: string, maxLength: 64 }
                      action: { type: string, maxLength: 256 }
                      ressource: { type: string, maxLength: 256 }
                      attendu: { type: string, enum: [PERMIS, REFUSE] }
      responses:
        "201":
          description: Simulation enregistrée (résultat REUSSIE, ECHEC ou INCOMPLETE).
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la simulation.
        "404":
          description: Politique ou version inconnue.
        "422":
          description: Seule une version EN_VALIDATION se simule.
        "503":
          description: Une dépendance requise est indisponible.
  /politiques/{reference}/versions/{version}/activation:
    post:
      tags: [Politiques]
      operationId: activerVersionPolitique
      summary: Active une version EN_VALIDATION (idempotente).
      description: >-
        Exige au moins une simulation REUSSIE de cette version exacte.
        Remplace atomiquement l'ancienne version active, s'il en existe une.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      responses:
        "200":
          description: "Version activée (déjà active : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'activation.
        "404":
          description: Politique ou version inconnue.
        "422":
          description: "État incompatible, ou simulation manquante."
        "503":
          description: Une dépendance requise est indisponible.
  /politiques/{reference}/versions/{version}/suspension:
    post:
      tags: [Politiques]
      operationId: suspendreVersionPolitique
      summary: Suspend une version ACTIVE (idempotente) ; ferme immédiatement ce qu'elle permettait.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      responses:
        "200":
          description: "Version suspendue (déjà suspendue : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la suspension.
        "404":
          description: Politique ou version inconnue.
        "422":
          description: État incompatible.
        "503":
          description: Une dépendance requise est indisponible.
  /politiques/{reference}/retrait:
    post:
      tags: [Politiques]
      operationId: retirerPolitique
      summary: Retire la version active d'une politique ; ne supprime rien.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Politique retirée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse le retrait.
        "404":
          description: Politique inconnue.
        "422":
          description: Aucune version active à retirer.
        "503":
          description: Une dépendance requise est indisponible.
components:
  securitySchemes:
    bearerSession:
      type: http
      scheme: bearer
      bearerFormat: SESS
  parameters:
    Reference:
      in: path
      name: reference
      required: true
      schema:
        type: string
    Produit:
      in: path
      name: produit
      required: true
      description: Référence du satellite ; elle est aussi l'audience du jeton.
      schema:
        type: string
        maxLength: 64
  schemas:
    Vie:
      type: object
      required: [statut, service, version_api, observe_le]
      properties:
        statut:
          const: VIVANT
        service:
          const: gamad-core
        version_api:
          const: v1
        observe_le:
          type: string
          format: date-time
    Preuve:
      type: object
      required: [reference, correlation_id, empreinte, algorithme, signee, cree_le]
      properties:
        reference:
          type: string
        correlation_id:
          type: string
        empreinte:
          type: string
          pattern: "^[0-9a-f]{64}$"
        algorithme:
          const: sha256
        signee:
          const: false
        cree_le:
          type: string
          format: date-time
    Session:
      type: object
      required: [type, jeton, entite, assurance, expire_le, preuve]
      properties:
        type:
          const: Bearer
        jeton:
          type: string
        entite:
          type: string
        assurance:
          type: string
        expire_le:
          type: string
          format: date-time
        preuve:
          $ref: "#/components/schemas/Preuve"
    CeremoniePasskey:
      type: object
      required: [options, ceremonie, expire_le]
      properties:
        options:
          type: object
          additionalProperties: true
        ceremonie:
          type: string
        expire_le:
          type: string
          format: date-time
    DecisionAvecPreuve:
      type: object
      required: [decision, mandat, preuve]
      properties:
        decision:
          type: object
          additionalProperties: true
        mandat:
          type: [object, "null"]
          additionalProperties: true
        preuve:
          $ref: "#/components/schemas/Preuve"
    InscriptionIdentite:
      type: object
      required: [canal, type, libelle]
      properties:
        canal:
          enum: [PRODUIT_RECONNU, ORGANISATION_RECONNUE, AUTORITE, CREATION_TECHNIQUE]
        type:
          enum: [personne, organisation, produit, realm, agent, service]
        libelle:
          type: string
          maxLength: 256
        classification:
          enum: [PUBLIC_ECOSYSTEME, INTERNE, CONFIDENTIEL, RESTREINT, SECRET_CORE]
        provisoire:
          type: boolean
