openapi: 3.1.0
info:
  title: GAMAD Core API
  version: 1.0.0
  description: >-
    Première API opérationnelle du Core. Toute écriture d'identité exige une
    session bearer, une décision CAP-CORE-004, un mandat actif lorsque le canal
    est réservé, et une preuve dans le journal opérationnel.
servers:
  - url: https://console.dgafrique.com/api/v1
    description: Serveur GAMAD Core.
tags:
  - name: Exploitation
  - name: Sessions
  - name: Identités
  - name: Autorisation
  - name: Fédération
  - name: Produits
  - name: Contrats
  - name: Vocabulaire
paths:
  /health/live:
    get:
      tags: [Exploitation]
      operationId: verifierVie
      summary: Vérifie que le processus HTTP répond.
      responses:
        "200":
          description: Processus vivant.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vie"
  /health/ready:
    get:
      tags: [Exploitation]
      operationId: verifierReadiness
      summary: Vérifie connexions, migrations, configuration et chaîne d'audit.
      responses:
        "200":
          description: Service prêt à recevoir du trafic.
        "503":
          description: Une dépendance ou exigence de production manque.
  /sessions:
    post:
      tags: [Sessions]
      operationId: ouvrirSession
      summary: Échange un authentificateur contre une session bearer temporaire.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entite, secret]
              properties:
                entite:
                  type: string
                  maxLength: 64
                secret:
                  type: string
                  writeOnly: true
      responses:
        "201":
          description: Session ouverte. La réponse ne doit jamais être mise en cache.
          headers:
            Cache-Control:
              schema:
                type: string
              example: no-store
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          description: Identifiant ou secret refusé.
        "429":
          description: Limite de tentatives atteinte.
        "503":
          description: Journal indisponible; aucune session n'est conservée.
  /sessions/passkey/options:
    post:
      tags: [Sessions]
      operationId: preparerSessionPasskey
      summary: Prépare une assertion WebAuthn à vérification utilisateur obligatoire.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entite]
              properties:
                entite:
                  type: string
                  maxLength: 64
      responses:
        "200":
          description: Challenge public, temporaire et à usage unique.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CeremoniePasskey"
        "429":
          description: Limite de tentatives atteinte.
        "503":
          description: Registre d'accès indisponible.
  /sessions/passkey:
    post:
      tags: [Sessions]
      operationId: ouvrirSessionPasskey
      summary: Vérifie l'assertion WebAuthn et ouvre une session bearer A2.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entite, ceremonie, credential]
              properties:
                entite:
                  type: string
                  maxLength: 64
                ceremonie:
                  type: string
                  maxLength: 64
                credential:
                  type: object
                  additionalProperties: true
      responses:
        "201":
          description: Session A2 ouverte et auditée; réponse non cachable.
          headers:
            Cache-Control:
              schema:
                type: string
              example: no-store
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          description: Assertion, challenge ou entité refusé.
        "429":
          description: Limite de tentatives atteinte.
        "503":
          description: Journal indisponible; la session A2 est révoquée.
  /sessions/current:
    delete:
      tags: [Sessions]
      operationId: fermerSession
      security:
        - bearerSession: []
      responses:
        "200":
          description: Résultat de la révocation et preuve.
        "401":
          description: Session invalide.
  /autorisation/decisions:
    post:
      tags: [Autorisation]
      operationId: prendreDecisionAutorisation
      security:
        - bearerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  maxLength: 256
                ressource:
                  type: [string, "null"]
                  maxLength: 256
      responses:
        "200":
          description: Décision expliquée, mandat constaté et preuve chaînée.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecisionAvecPreuve"
        "401":
          description: Session invalide.
        "503":
          description: Une dépendance requise est indisponible.
  /identites:
    get:
      tags: [Identités]
      operationId: listerIdentites
      security:
        - bearerSession: []
      parameters:
        - in: query
          name: type
          schema:
            type: string
      responses:
        "200":
          description: Inventaire des identités lisibles.
        "401":
          description: Session invalide.
    post:
      tags: [Identités]
      operationId: inscrireIdentite
      summary: Inscrit une identité après autorisation et vérification du mandat.
      description: >-
        La politique `POL-INSCRIPTION-IDENTITES-V1` permet à
        `AUT-GAMAD-001`, sous mandat actif, d'utiliser les canaux réservés
        `AUTORITE` et `CREATION_TECHNIQUE`. Les autres sujets et les dossiers
        hors politique restent refusés.
      security:
        - bearerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InscriptionIdentite"
      responses:
        "201":
          description: Identité inscrite et preuve produite.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'action ou le mandat réservé manque.
        "422":
          description: Le registre d'identités refuse le dossier gouverné.
        "503":
          description: Le journal est indisponible; aucune écriture n'a lieu.
  /identites/{reference}:
    get:
      tags: [Identités]
      operationId: lireIdentite
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Identité résolue.
        "404":
          description: Identité inconnue.
  /identites/{reference}/regime:
    get:
      tags: [Identités]
      operationId: lireRegimeIdentite
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Régime de vérité de l'identité.
        "404":
          description: Identité inconnue.
  /identites/{reference}/assurance:
    get:
      tags: [Identités]
      operationId: lireAssuranceIdentite
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Assurance de l'identité autorisée.
        "403":
          description: L'appelant n'est ni l'identité ni l'autorité.
  /mandats/{fonction}:
    get:
      tags: [Autorisation]
      operationId: lireMandat
      security:
        - bearerSession: []
      parameters:
        - in: path
          name: fonction
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Mandat résolu.
        "404":
          description: Aucun mandat applicable.
  /produits:
    get:
      tags: [Fédération]
      operationId: listerProduits
      summary: Catalogue des satellites et accès de l'identité appelante.
      description: >-
        Ne restitue que ce que le Portail peut montrer : nom du produit, état
        d'activation, niveau d'accès et dernière ouverture. Aucune donnée métier
        du satellite ne traverse cette frontière.
      security:
        - bearerSession: []
      responses:
        "200":
          description: Produits connus et accès actifs du porteur.
        "401":
          description: Session invalide.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{produit}/ouverture:
    post:
      tags: [Fédération]
      operationId: ouvrirAccesFedere
      summary: Provisionne le compte local et émet un jeton borné au satellite.
      description: >-
        Le provisionnement est idempotent : répéter la demande ne crée pas un
        second compte local. Le jeton émis est limité à ce satellite, à une
        durée courte, aux portées de la liste close, à la session Core et au
        niveau d'assurance qui l'ont produit. Il n'est retourné qu'une fois.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Produit"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                identite:
                  type: string
                  maxLength: 64
                  description: >-
                    Par défaut l'identité de la session. Ouvrir pour autrui
                    n'est possible qu'à l'autorité d'inscription.
                relation_type:
                  type: string
                  enum:
                    [
                      UTILISATEUR,
                      CLIENT,
                      ANNONCEUR,
                      ADMINISTRATEUR,
                      OPERATEUR,
                      RESPONSABLE_PRODUIT,
                      PROPRIETAIRE_INSTITUTIONNEL,
                      PARTENAIRE,
                    ]
                sujet_local_opaque:
                  type: string
                  maxLength: 256
                duree:
                  type: integer
                  minimum: 30
                  maximum: 300
      responses:
        "201":
          description: Accès ouvert, jeton fédéré remis une seule fois.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'ouverture.
        "422":
          description: >-
            Produit non reconnu, identité non utilisable, acteur incompétent ou
            durée hors bornes.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{produit}/verification:
    post:
      tags: [Fédération]
      operationId: verifierJetonFedere
      summary: Échange un jeton fédéré contre l'identité qu'il porte.
      description: >-
        Réservé au satellite destinataire, qui s'authentifie sous sa propre
        référence produit. Le jeton est à usage unique et toutes ses conditions
        sont revérifiées à la présentation : audience, expiration, révocation,
        session Core et lien produit.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Produit"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [jeton]
              properties:
                jeton:
                  type: string
                  maxLength: 256
                  writeOnly: true
      responses:
        "200":
          description: Jeton valide et consommé ; identité et portées restituées.
        "401":
          description: Jeton inconnu, étranger, expiré, révoqué ou déjà consommé.
        "403":
          description: L'appelant n'est pas le satellite destinataire.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{produit}/revocation:
    post:
      tags: [Fédération]
      operationId: revoquerAccesFedere
      summary: Ferme le lien produit et les jetons encore ouverts.
      description: >-
        Ouverte au porteur, au satellite concerné et à l'autorité. Fermer un
        accès ne supprime ni l'identité GAMAD ni les données que le satellite
        détient légalement.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Produit"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                identite:
                  type: string
                  maxLength: 64
      responses:
        "200":
          description: Lien clos et jetons fermés.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la révocation.
        "422":
          description: Aucun accès actif à révoquer.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{reference}:
    get:
      tags: [Produits]
      operationId: resoudreProduit
      summary: Fiche opérationnelle d'un produit (CAP-CORE-011).
      description: >-
        Un produit ACTIF est visible de toute session. Un produit non actif
        n'est visible qu'à son propriétaire ou à l'autorité d'inscription ;
        les autres appelants reçoivent 404, sans distinguer l'inexistence du
        refus.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Fiche du produit et ses environnements.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
    patch:
      tags: [Produits]
      operationId: modifierProduit
      summary: Modifie les métadonnées non immuables d'un produit.
      description: >-
        La référence et l'identité canonique associée ne se modifient jamais.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nom_canonique:
                  type: string
                  maxLength: 255
                nom_affichage:
                  type: string
                  maxLength: 255
                type_produit:
                  type: string
                  enum: [PORTAIL, SATELLITE, SERVICE_CORE, PARTENAIRE, APPLICATION_INTERNE]
                proprietaire_reference:
                  type: string
                  maxLength: 64
                federation_autorisee:
                  type: boolean
      responses:
        "200":
          description: Métadonnées mises à jour.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la modification.
        "404":
          description: Produit inconnu.
        "503":
          description: Une dépendance requise est indisponible.
  /produits:
    post:
      tags: [Produits]
      operationId: inscrireProduit
      summary: Inscrit un produit dans le registre, en PREPARATION.
      description: >-
        Aucune activation n'est automatique. L'identité canonique doit déjà
        exister au Registre des identités, de type `produit`, et ne peut être
        attachée qu'à un seul produit.
      security:
        - bearerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                [reference, identite_reference, nom_canonique, nom_affichage, type_produit, proprietaire_reference]
              properties:
                reference:
                  type: string
                  maxLength: 64
                identite_reference:
                  type: string
                  maxLength: 64
                nom_canonique:
                  type: string
                  maxLength: 255
                nom_affichage:
                  type: string
                  maxLength: 255
                type_produit:
                  type: string
                  enum: [PORTAIL, SATELLITE, SERVICE_CORE, PARTENAIRE, APPLICATION_INTERNE]
                proprietaire_reference:
                  type: string
                  maxLength: 64
      responses:
        "201":
          description: Produit inscrit en PREPARATION.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'inscription.
        "409":
          description: Référence déjà utilisée ou identité déjà liée à un autre produit.
        "422":
          description: Dossier invalide, identité inconnue ou de type incorrect.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{reference}/activation:
    post:
      tags: [Produits]
      operationId: activerProduit
      summary: Active un produit inscrit (idempotente).
      description: >-
        Un produit ne s'active jamais lui-même. Recevable depuis PREPARATION
        ou SUSPENDU seulement ; RETIRE est terminal.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                motif:
                  type: string
                  maxLength: 500
      responses:
        "200":
          description: "Produit ACTIF (déjà actif : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'activation.
        "404":
          description: Produit inconnu.
        "422":
          description: Auto-activation ou état incompatible.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{reference}/suspension:
    post:
      tags: [Produits]
      operationId: suspendreProduit
      summary: Suspend un produit actif ; ferme sa fédérabilité et ses jetons ouverts.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                motif:
                  type: string
                  maxLength: 500
      responses:
        "200":
          description: "Produit SUSPENDU (déjà suspendu : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la suspension.
        "404":
          description: Produit inconnu.
        "422":
          description: Seul un produit ACTIF se suspend.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{reference}/retrait:
    post:
      tags: [Produits]
      operationId: retirerProduit
      summary: Retire un produit du registre, en ajout seul et irréversible.
      description: >-
        Ne supprime rien ; la référence n'est jamais réutilisable.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                motif:
                  type: string
                  maxLength: 500
      responses:
        "200":
          description: "Produit RETIRE (déjà retiré : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse le retrait.
        "404":
          description: Produit inconnu.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{reference}/environnements:
    get:
      tags: [Produits]
      operationId: resoudreEnvironnements
      summary: Environnements déclarés d'un produit, actifs et fermés.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Liste des environnements.
        "401":
          description: Session invalide.
        "404":
          description: Produit inconnu ou non visible.
    post:
      tags: [Produits]
      operationId: declarerEnvironnement
      summary: Déclare ou remplace un environnement du produit.
      description: >-
        Une URL de production doit être HTTPS. Une nouvelle URL clôt
        l'ancienne version active du même environnement plutôt que de la
        réécrire. Une audience de fédération n'appartient jamais à deux
        produits actifs.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [environnement, api_base_url, audience_federation]
              properties:
                environnement:
                  type: string
                  enum: [DEVELOPPEMENT, RECETTE, PRODUCTION]
                api_base_url:
                  type: string
                  maxLength: 2048
                health_url:
                  type: string
                  maxLength: 2048
                audience_federation:
                  type: string
                  maxLength: 64
                date_debut:
                  type: string
                  format: date
      responses:
        "201":
          description: Environnement déclaré.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la déclaration.
        "404":
          description: Produit inconnu.
        "422":
          description: URL invalide ou audience déjà utilisée par un autre produit actif.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{reference}/environnements/{id}/fermeture:
    post:
      tags: [Produits]
      operationId: fermerEnvironnement
      summary: Ferme un environnement (idempotente) ; ne le supprime pas.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                date_fin:
                  type: string
                  format: date
      responses:
        "200":
          description: "Environnement fermé (déjà fermé : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la fermeture.
        "404":
          description: Produit ou environnement inconnu.
        "503":
          description: Une dépendance requise est indisponible.
  /sources:
    get:
      tags: [Sources]
      operationId: listerSources
      summary: Liste les sources visibles de la session (CAP-CORE-006).
      description: >-
        Une source ACTIVE est visible de toute session. Une source non active
        n'est visible qu'à son propriétaire ou à l'autorité d'inscription.
      security:
        - bearerSession: []
      parameters:
        - in: query
          name: etat
          schema:
            type: string
            enum: [PREPARATION, ACTIVE, SUSPENDUE, RETIREE]
        - in: query
          name: type
          schema:
            type: string
            enum: [PRODUIT_GAMAD, SERVICE_CORE, ORGANISATION, INSTITUTION, PARTENAIRE, SYSTEME_EXTERNE, IMPORT_GOUVERNE, CANAL_DECLARATIF]
      responses:
        "200":
          description: Liste des sources visibles.
        "401":
          description: Session invalide.
    post:
      tags: [Sources]
      operationId: inscrireSource
      summary: Inscrit une source dans le registre, en PREPARATION.
      description: >-
        Aucune activation n'est automatique. Le propriétaire doit être une
        identité connue de CAP-CORE-001 ; le produit producteur, s'il est
        fourni, doit être un produit ACTIF connu de CAP-CORE-011.
      security:
        - bearerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reference, nom_canonique, nom_affichage, type_source, proprietaire_reference]
              properties:
                reference:
                  type: string
                  maxLength: 64
                nom_canonique:
                  type: string
                  maxLength: 255
                nom_affichage:
                  type: string
                  maxLength: 255
                type_source:
                  type: string
                  enum: [PRODUIT_GAMAD, SERVICE_CORE, ORGANISATION, INSTITUTION, PARTENAIRE, SYSTEME_EXTERNE, IMPORT_GOUVERNE, CANAL_DECLARATIF]
                proprietaire_reference:
                  type: string
                  maxLength: 64
                categorie:
                  type: string
                  maxLength: 500
                description:
                  type: string
                  maxLength: 2000
                produit_producteur_reference:
                  type: string
                  maxLength: 64
                reserve:
                  type: string
                  maxLength: 2000
      responses:
        "201":
          description: Source inscrite en PREPARATION.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'inscription.
        "409":
          description: Référence déjà utilisée.
        "422":
          description: Dossier invalide, propriétaire ou produit producteur inconnu.
        "503":
          description: Une dépendance requise est indisponible.
  /sources/{reference}:
    get:
      tags: [Sources]
      operationId: resoudreSource
      summary: Fiche opérationnelle d'une source, sa vérification, ses finalités et sa lignée (CAP-CORE-006).
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Fiche de la source, vérification courante, finalités actives et lignée.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
    patch:
      tags: [Sources]
      operationId: modifierSource
      summary: Modifie les métadonnées révisables d'une source.
      description: >-
        La référence, le nom canonique et le type ne se modifient jamais.
        Chaque modification crée une nouvelle révision, en ajout seul.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nom_affichage:
                  type: string
                  maxLength: 255
                categorie:
                  type: string
                  maxLength: 500
                description:
                  type: string
                  maxLength: 2000
                proprietaire_reference:
                  type: string
                  maxLength: 64
                produit_producteur_reference:
                  type: string
                  maxLength: 64
                reserve:
                  type: string
                  maxLength: 2000
      responses:
        "200":
          description: Métadonnées mises à jour (nouvelle révision).
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la modification.
        "404":
          description: Source inconnue.
        "503":
          description: Une dépendance requise est indisponible.
  /sources/{reference}/lignee:
    get:
      tags: [Sources]
      operationId: resoudreLigneeSource
      summary: Lignée amont et aval d'une source.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Relations de lignée amont (parentes) et aval (dérivées).
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
    post:
      tags: [Sources]
      operationId: declarerLigneeSource
      summary: Déclare une relation de lignée vers une source parente.
      description: >-
        Toute relation qui fermerait un cycle est refusée avant écriture.
        L'ajout d'une relation ne supprime jamais une relation antérieure.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [source_parente_reference, type_relation]
              properties:
                source_parente_reference:
                  type: string
                  maxLength: 64
                type_relation:
                  type: string
                  enum: [DERIVEE_DE, AGREGE, REMPLACE, CORRIGE]
      responses:
        "201":
          description: Relation de lignée déclarée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la déclaration.
        "404":
          description: Source ou source parente inconnue.
        "422":
          description: Relation invalide ou cycle de lignée détecté.
        "503":
          description: Une dépendance requise est indisponible.
  /sources/{reference}/finalites:
    get:
      tags: [Sources]
      operationId: resoudreFinalitesSource
      summary: Finalités actives déclarées pour une source.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Liste des finalités actives.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
    post:
      tags: [Sources]
      operationId: declarerFinaliteSource
      summary: Déclare une finalité d'usage, bornée par consommateur et par période.
      description: >-
        La source doit être ACTIVE. Le produit consommateur, s'il est fourni,
        doit être un produit ACTIF connu de CAP-CORE-011. Aucune finalité
        n'est jamais implicite.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [finalite_reference]
              properties:
                finalite_reference:
                  type: string
                  maxLength: 128
                produit_consommateur_reference:
                  type: string
                  maxLength: 64
                date_debut:
                  type: string
                  format: date
                date_fin:
                  type: string
                  format: date
                restriction:
                  type: string
                  maxLength: 1000
      responses:
        "201":
          description: Finalité déclarée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la déclaration.
        "404":
          description: Source ou produit consommateur inconnu.
        "409":
          description: Conflit de dates avec une finalité déjà active.
        "422":
          description: Dossier invalide ou source non active.
        "503":
          description: Une dépendance requise est indisponible.
  /sources/{reference}/finalites/{id}/fermeture:
    post:
      tags: [Sources]
      operationId: fermerFinaliteSource
      summary: Ferme une finalité (idempotente) ; ne la supprime pas.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                date_fin:
                  type: string
                  format: date
      responses:
        "200":
          description: "Finalité fermée (déjà fermée : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la fermeture.
        "404":
          description: Source ou finalité inconnue.
        "503":
          description: Une dépendance requise est indisponible.
  /sources/{reference}/verification:
    get:
      tags: [Sources]
      operationId: resoudreVerificationSource
      summary: Vérification opérationnelle courante d'une source.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Niveau, résultat et échéance de la vérification courante, si elle existe.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
  /sources/{reference}/verifications:
    post:
      tags: [Sources]
      operationId: enregistrerVerificationSource
      summary: Enregistre une vérification, en ajout seul.
      description: >-
        Une source ne s'auto-atteste jamais : pour le niveau `ATTESTEE`, le
        vérificateur doit être distinct du producteur de la source.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [niveau, resultat, verifie_par_reference]
              properties:
                niveau:
                  type: string
                  enum: [NON_VERIFIEE, DECLAREE, CONTROLEE, ATTESTEE]
                resultat:
                  type: string
                  enum: [VALIDE, INVALIDE, EXPIREE]
                verifie_par_reference:
                  type: string
                  maxLength: 64
                verifie_le:
                  type: string
                  format: date
                expire_le:
                  type: string
                  format: date
                motif:
                  type: string
                  maxLength: 1000
      responses:
        "201":
          description: Vérification enregistrée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'enregistrement.
        "404":
          description: Source inconnue.
        "422":
          description: Dossier invalide ou auto-attestation refusée.
        "503":
          description: Une dépendance requise est indisponible.
  /sources/{reference}/utilisabilite:
    post:
      tags: [Sources]
      operationId: verifierUtilisabiliteSource
      summary: Vérifie si une source est utilisable pour un consommateur et une finalité donnés.
      description: >-
        Renvoie une réponse explicable, énumérant chaque motif de refus. Ne
        constitue pas à elle seule une autorisation : la couche applicative
        doit encore demander une décision à CAP-CORE-004 pour l'opération
        qu'elle prépare.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [finalite]
              properties:
                consommateur:
                  type: string
                  maxLength: 64
                finalite:
                  type: string
                  maxLength: 128
      responses:
        "200":
          description: Résultat explicable (utilisable ou liste de motifs de refus).
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
  /sources/{reference}/activation:
    post:
      tags: [Sources]
      operationId: activerSource
      summary: Active une source inscrite (idempotente).
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                motif:
                  type: string
                  maxLength: 500
      responses:
        "200":
          description: "Source activée (déjà active : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'activation.
        "404":
          description: Source inconnue.
        "422":
          description: État incompatible avec une activation.
        "503":
          description: Une dépendance requise est indisponible.
  /sources/{reference}/suspension:
    post:
      tags: [Sources]
      operationId: suspendreSource
      summary: Suspend une source active (idempotente) ; ferme immédiatement tout nouvel usage.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                motif:
                  type: string
                  maxLength: 500
      responses:
        "200":
          description: "Source suspendue (déjà suspendue : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la suspension.
        "404":
          description: Source inconnue.
        "422":
          description: État incompatible avec une suspension.
        "503":
          description: Une dépendance requise est indisponible.
  /sources/{reference}/retrait:
    post:
      tags: [Sources]
      operationId: retirerSource
      summary: Retire une source (idempotente, irréversible) ; ne supprime rien.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                motif:
                  type: string
                  maxLength: 500
      responses:
        "200":
          description: "Source retirée (déjà retirée : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse le retrait.
        "404":
          description: Source inconnue.
        "503":
          description: Une dépendance requise est indisponible.
  /politiques:
    get:
      tags: [Politiques]
      operationId: listerPolitiques
      summary: Liste les politiques visibles de la session (CAP-CORE-007).
      security:
        - bearerSession: []
      responses:
        "200":
          description: Liste des politiques visibles.
        "401":
          description: Session invalide.
    post:
      tags: [Politiques]
      operationId: inscrirePolitique
      summary: Inscrit une politique dans le registre, sans version.
      security:
        - bearerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reference, libelle, proprietaire_reference, source_reference]
              properties:
                reference: { type: string, maxLength: 64 }
                libelle: { type: string, maxLength: 255 }
                domaine: { type: string, maxLength: 128 }
                proprietaire_reference: { type: string, maxLength: 64 }
                source_reference: { type: string, maxLength: 500 }
                description: { type: string, maxLength: 2000 }
      responses:
        "201":
          description: Politique inscrite.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'inscription.
        "409":
          description: Référence déjà utilisée.
        "422":
          description: Dossier invalide ou propriétaire inconnu.
        "503":
          description: Une dépendance requise est indisponible.
  /politiques/{reference}:
    get:
      tags: [Politiques]
      operationId: resoudrePolitique
      summary: Fiche d'une politique, ses versions et son historique (CAP-CORE-007).
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Fiche de la politique, versions et historique de cycle.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
  /politiques/{reference}/versions:
    get:
      tags: [Politiques]
      operationId: listerVersionsPolitique
      summary: Liste les versions d'une politique.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Liste des versions.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
    post:
      tags: [Politiques]
      operationId: creerVersionPolitique
      summary: Crée une nouvelle version en BROUILLON.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version]
              properties:
                version: { type: string, maxLength: 32, description: "Format X.Y.Z" }
                description: { type: string, maxLength: 2000 }
                date_effet_prevue: { type: string, format: date }
      responses:
        "201":
          description: Version créée en BROUILLON.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la création.
        "404":
          description: Politique inconnue.
        "409":
          description: Version déjà utilisée.
        "422":
          description: Format de version invalide.
        "503":
          description: Une dépendance requise est indisponible.
  /politiques/{reference}/historique:
    get:
      tags: [Politiques]
      operationId: resoudreHistoriquePolitique
      summary: Historique complet du cycle de toutes les versions d'une politique.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Historique daté des transitions de cycle.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
  /politiques/{reference}/versions/{version}:
    get:
      tags: [Politiques]
      operationId: resoudreVersionPolitique
      summary: Fiche d'une version précise, avec ses règles.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      responses:
        "200":
          description: Version et ses règles.
        "401":
          description: Session invalide.
        "404":
          description: Politique ou version inconnue.
  /politiques/{reference}/versions/{version}/regles:
    post:
      tags: [Politiques]
      operationId: ajouterRegleVersion
      summary: Ajoute une règle à une version en BROUILLON.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [effet, action_reference, motif]
              properties:
                effet: { type: string, enum: [PERMET, REFUSE] }
                action_reference: { type: string, maxLength: 256 }
                sujet_reference: { type: string, maxLength: 64 }
                ressource_reference: { type: string, maxLength: 256 }
                motif: { type: string, maxLength: 2000 }
                ordre: { type: integer, minimum: 1 }
      responses:
        "201":
          description: Règle ajoutée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'ajout.
        "404":
          description: Politique ou version inconnue.
        "409":
          description: Ordre déjà utilisé.
        "422":
          description: "Version immuable (hors BROUILLON) ou dossier invalide."
        "503":
          description: Une dépendance requise est indisponible.
  /politiques/{reference}/versions/{version}/regles/{id}:
    patch:
      tags: [Politiques]
      operationId: modifierRegleVersion
      summary: Modifie une règle d'une version encore en BROUILLON.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Règle modifiée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la modification.
        "404":
          description: Règle inconnue.
        "422":
          description: Version immuable.
        "503":
          description: Une dépendance requise est indisponible.
  /politiques/{reference}/versions/{version}/soumission:
    post:
      tags: [Politiques]
      operationId: soumettreVersionPolitique
      summary: Soumet une version BROUILLON à validation ; elle devient immuable.
      description: >-
        Calcule l'empreinte de contenu de la version au moment de la
        soumission. Idempotente si déjà EN_VALIDATION.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      responses:
        "200":
          description: Version EN_VALIDATION.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la soumission.
        "404":
          description: Politique ou version inconnue.
        "422":
          description: "État incompatible, ou aucune règle."
        "503":
          description: Une dépendance requise est indisponible.
  /politiques/{reference}/versions/{version}/simulation:
    post:
      tags: [Politiques]
      operationId: simulerVersionPolitique
      summary: Simule une version EN_VALIDATION sur un jeu de cas explicite, sans effet de bord.
      description: >-
        N'évalue jamais les versions actives : seules les règles de la
        version exacte simulée. Une activation exige au moins une simulation
        REUSSIE de cette version.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [jeu_reference, cas]
              properties:
                jeu_reference: { type: string, maxLength: 128 }
                cas:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [sujet, action, attendu]
                    properties:
                      sujet: { type: string, maxLength: 64 }
                      action: { type: string, maxLength: 256 }
                      ressource: { type: string, maxLength: 256 }
                      attendu: { type: string, enum: [PERMIS, REFUSE] }
      responses:
        "201":
          description: Simulation enregistrée (résultat REUSSIE, ECHEC ou INCOMPLETE).
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la simulation.
        "404":
          description: Politique ou version inconnue.
        "422":
          description: Seule une version EN_VALIDATION se simule.
        "503":
          description: Une dépendance requise est indisponible.
  /politiques/{reference}/versions/{version}/activation:
    post:
      tags: [Politiques]
      operationId: activerVersionPolitique
      summary: Active une version EN_VALIDATION (idempotente).
      description: >-
        Exige au moins une simulation REUSSIE de cette version exacte.
        Remplace atomiquement l'ancienne version active, s'il en existe une.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      responses:
        "200":
          description: "Version activée (déjà active : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'activation.
        "404":
          description: Politique ou version inconnue.
        "422":
          description: "État incompatible, ou simulation manquante."
        "503":
          description: Une dépendance requise est indisponible.
  /politiques/{reference}/versions/{version}/suspension:
    post:
      tags: [Politiques]
      operationId: suspendreVersionPolitique
      summary: Suspend une version ACTIVE (idempotente) ; ferme immédiatement ce qu'elle permettait.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      responses:
        "200":
          description: "Version suspendue (déjà suspendue : réponse idempotente)."
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la suspension.
        "404":
          description: Politique ou version inconnue.
        "422":
          description: État incompatible.
        "503":
          description: Une dépendance requise est indisponible.
  /politiques/{reference}/retrait:
    post:
      tags: [Politiques]
      operationId: retirerPolitique
      summary: Retire la version active d'une politique ; ne supprime rien.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Politique retirée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse le retrait.
        "404":
          description: Politique inconnue.
        "422":
          description: Aucune version active à retirer.
        "503":
          description: Une dépendance requise est indisponible.
  /contrats:
    get:
      tags: [Contrats]
      operationId: listerContrats
      summary: Liste les contrats visibles de la session (CAP-CORE-009).
      security:
        - bearerSession: []
      responses:
        "200":
          description: Liste des contrats visibles.
        "401":
          description: Session invalide.
    post:
      tags: [Contrats]
      operationId: inscrireContrat
      summary: Inscrit un contrat dans le registre, sans version.
      security:
        - bearerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reference, nom, type_contrat, finalite_reference, proprietaire_reference, source_reference]
              properties:
                reference: { type: string, maxLength: 64 }
                nom: { type: string, maxLength: 255 }
                type_contrat: { type: string, enum: [COMMANDE, REQUETE, EVENEMENT, SIGNAL, ATTESTATION, REFERENCE_TEMPORAIRE, HTTP_API, INTERCAPACITE] }
                finalite_reference: { type: string, maxLength: 500 }
                producteur_capacite_reference: { type: string, maxLength: 64 }
                producteur_produit_reference: { type: string, maxLength: 64 }
                proprietaire_reference: { type: string, maxLength: 64 }
                source_reference: { type: string, maxLength: 500 }
                description: { type: string, maxLength: 2000 }
      responses:
        "201":
          description: Contrat inscrit.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'inscription.
        "409":
          description: Référence déjà utilisée.
        "422":
          description: Dossier invalide, type inconnu ou producteur principal ambigu.
        "503":
          description: Une dépendance requise est indisponible.
  /contrats/{reference}:
    get:
      tags: [Contrats]
      operationId: resoudreContrat
      summary: Fiche d'un contrat, ses versions et son historique (CAP-CORE-009).
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Fiche du contrat, versions et historique de cycle.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
  /contrats/{reference}/versions:
    get:
      tags: [Contrats]
      operationId: listerVersionsContrat
      summary: Liste les versions d'un contrat.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Liste des versions.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
    post:
      tags: [Contrats]
      operationId: creerVersionContrat
      summary: Crée une nouvelle version en BROUILLON.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version]
              properties:
                version: { type: string, maxLength: 32, description: "Format X.Y.Z" }
                compatibilite_annoncee: { type: string, enum: [COMPATIBLE, COMPATIBLE_AVEC_ADAPTATION, RUPTURE] }
                description: { type: string, maxLength: 2000 }
                date_effet_prevue: { type: string, format: date }
      responses:
        "201":
          description: Version créée en BROUILLON.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la création.
        "404":
          description: Contrat inconnu.
        "409":
          description: Version déjà utilisée.
        "422":
          description: Version invalide.
        "503":
          description: Une dépendance requise est indisponible.
  /contrats/{reference}/versions/{version}:
    get:
      tags: [Contrats]
      operationId: resoudreVersionContrat
      summary: Détail d'une version, avec parties, opérations, schémas, erreurs et obligations.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      responses:
        "200":
          description: Détail complet de la version.
        "401":
          description: Session invalide.
        "404":
          description: Référence ou version inconnue.
  /contrats/{reference}/historique:
    get:
      tags: [Contrats]
      operationId: resoudreHistoriqueContrat
      summary: Historique de cycle, toutes versions confondues.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Historique de cycle.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
  /contrats/{reference}/compatibilite:
    get:
      tags: [Contrats]
      operationId: resoudreCompatibiliteContrat
      summary: Analyses de compatibilité enregistrées pour une version exacte.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - name: version
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Analyses de compatibilité.
        "401":
          description: Session invalide.
        "404":
          description: Référence ou version inconnue.
        "422":
          description: Paramètre `version` absent.
  /contrats/{reference}/conformite:
    get:
      tags: [Contrats]
      operationId: resoudreConformiteContrat
      summary: Conformités enregistrées pour une version exacte.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - name: version
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Conformités enregistrées.
        "401":
          description: Session invalide.
        "404":
          description: Référence ou version inconnue.
        "422":
          description: Paramètre `version` absent.
  /contrats/{reference}/consommateurs:
    get:
      tags: [Contrats]
      operationId: resoudreConsommateursContrat
      summary: Consommateurs déclarés (version active par défaut, ou `?version=`).
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - name: version
          in: query
          required: false
          schema: { type: string }
      responses:
        "200":
          description: Consommateurs déclarés.
        "401":
          description: Session invalide.
        "404":
          description: Référence inconnue ou non visible.
  /contrats/{reference}/versions/{version}/parties:
    post:
      tags: [Contrats]
      operationId: declarerPartieContrat
      summary: Déclare une partie (producteur, consommateur, opérateur, vérificateur) sur une version BROUILLON.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role, partie_type, partie_reference]
              properties:
                role: { type: string, enum: [PRODUCTEUR, CONSOMMATEUR, OPERATEUR, VERIFICATEUR] }
                partie_type: { type: string, enum: [CAPACITE, PRODUIT] }
                partie_reference: { type: string, maxLength: 64 }
      responses:
        "201":
          description: Partie déclarée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la déclaration.
        "404":
          description: Référence ou version inconnue.
        "422":
          description: Version immuable ou dossier invalide.
        "503":
          description: Une dépendance requise est indisponible.
  /contrats/{reference}/versions/{version}/operations:
    post:
      tags: [Contrats]
      operationId: declarerOperationContrat
      summary: Déclare une opération sur une version BROUILLON.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reference_operation, type_operation]
              properties:
                reference_operation: { type: string, maxLength: 128 }
                type_operation: { type: string, enum: [COMMANDER, INTERROGER, PUBLIER, CONSOMMER, VERIFIER, REVOQUER] }
                methode_http: { type: string, enum: [GET, POST, PUT, PATCH, DELETE] }
                chemin_http: { type: string, maxLength: 256 }
                action_autorisation: { type: string, maxLength: 256 }
                duree_secondes: { type: integer, minimum: 0 }
                idempotente: { type: boolean }
                audit_obligatoire: { type: boolean }
                ordre: { type: integer, minimum: 1 }
      responses:
        "201":
          description: Opération déclarée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la déclaration.
        "404":
          description: Référence ou version inconnue.
        "409":
          description: Opération déjà déclarée.
        "422":
          description: Version immuable ou dossier invalide.
        "503":
          description: Une dépendance requise est indisponible.
  /contrats/{reference}/versions/{version}/schemas:
    post:
      tags: [Contrats]
      operationId: declarerSchemaContrat
      summary: Déclare un schéma d'entrée, de sortie, d'événement ou d'erreur.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sens, format]
              properties:
                operation_reference: { type: string, maxLength: 128 }
                sens: { type: string, enum: [ENTREE, SORTIE, EVENEMENT, ERREUR] }
                format: { type: string, enum: [JSON_SCHEMA, OPENAPI_SCHEMA, TEXTE_STRUCTURE, AUCUN_CORPS] }
                contenu: { type: string, maxLength: 20000 }
      responses:
        "201":
          description: Schéma déclaré.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la déclaration.
        "404":
          description: Référence, version ou opération inconnue.
        "422":
          description: Version immuable, schéma invalide ou secret détecté.
        "503":
          description: Une dépendance requise est indisponible.
  /contrats/{reference}/versions/{version}/erreurs:
    post:
      tags: [Contrats]
      operationId: declarerErreurContrat
      summary: Déclare une erreur stable sur une version BROUILLON.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, description]
              properties:
                operation_reference: { type: string, maxLength: 128 }
                code: { type: string, maxLength: 128 }
                statut_http: { type: integer, minimum: 100, maximum: 599 }
                retentable: { type: boolean }
                detail_exposable: { type: boolean }
                description: { type: string, maxLength: 1000 }
      responses:
        "201":
          description: Erreur déclarée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la déclaration.
        "404":
          description: Référence ou version inconnue.
        "409":
          description: Code déjà déclaré.
        "422":
          description: Version immuable ou dossier invalide.
        "503":
          description: Une dépendance requise est indisponible.
  /contrats/{reference}/versions/{version}/soumission:
    post:
      tags: [Contrats]
      operationId: soumettreVersionContrat
      summary: Soumet la version, fige son contenu et calcule son empreinte.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      responses:
        "200":
          description: Version soumise, en EN_VALIDATION.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la soumission.
        "404":
          description: Référence ou version inconnue.
        "422":
          description: État incompatible, contenu vide ou producteur/consommateur absent.
        "503":
          description: Une dépendance requise est indisponible.
  /contrats/{reference}/versions/{version}/analyse:
    post:
      tags: [Contrats]
      operationId: analyserCompatibiliteContrat
      summary: Analyse la compatibilité contre la version active courante, s'il en existe une.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      responses:
        "201":
          description: Analyse enregistrée (COMPATIBLE, ADAPTATION_REQUISE, RUPTURE ou INDETERMINE).
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'analyse.
        "404":
          description: Référence ou version inconnue.
        "422":
          description: Contenu non soumis.
        "503":
          description: Une dépendance requise est indisponible.
  /contrats/{reference}/versions/{version}/activation:
    post:
      tags: [Contrats]
      operationId: activerVersionContrat
      summary: Active la version ; exige analyse et conformité enregistrées, et un plan de migration si RUPTURE.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                motif: { type: string, maxLength: 500 }
                plan_migration: { type: string, maxLength: 2000 }
                date_limite_migration: { type: string, format: date }
      responses:
        "200":
          description: Version active ; l'ancienne version active, s'il y en avait une, devient REMPLACEE.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'activation.
        "404":
          description: Référence ou version inconnue.
        "422":
          description: Analyse ou conformité manquante, ou plan de migration requis pour une rupture.
        "503":
          description: Une dépendance requise est indisponible.
  /contrats/{reference}/versions/{version}/depreciation:
    post:
      tags: [Contrats]
      operationId: deprecierVersionContrat
      summary: Déprécie une version active.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      responses:
        "200":
          description: Version dépréciée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la dépréciation.
        "404":
          description: Référence ou version inconnue.
        "422":
          description: État incompatible.
        "503":
          description: Une dépendance requise est indisponible.
  /contrats/{reference}/versions/{version}/suspension:
    post:
      tags: [Contrats]
      operationId: suspendreVersionContrat
      summary: Suspend une version active ou dépréciée ; opposable immédiatement.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      responses:
        "200":
          description: Version suspendue.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la suspension.
        "404":
          description: Référence ou version inconnue.
        "422":
          description: État incompatible.
        "503":
          description: Une dépendance requise est indisponible.
  /contrats/{reference}/versions/{version}/retrait:
    post:
      tags: [Contrats]
      operationId: retirerVersionContrat
      summary: Retire une version ; ne supprime rien, la référence n'est jamais réutilisable.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      responses:
        "200":
          description: Version retirée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse le retrait.
        "404":
          description: Référence ou version inconnue.
        "422":
          description: État incompatible.
        "503":
          description: Une dépendance requise est indisponible.
  /contrats/{reference}/versions/{version}/conformite:
    post:
      tags: [Contrats]
      operationId: enregistrerConformiteContrat
      summary: Enregistre une conformité (CONFORME, NON_CONFORME ou INCOMPLET) pour une version exacte.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: version
          required: true
          schema: { type: string, pattern: "^\\d+\\.\\d+\\.\\d+$" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [resultat, artefact_reference]
              properties:
                resultat: { type: string, enum: [CONFORME, NON_CONFORME, INCOMPLET] }
                partie_reference: { type: string, maxLength: 64 }
                artefact_reference: { type: string, maxLength: 256 }
                resume: { type: string, maxLength: 2000 }
      responses:
        "201":
          description: Conformité enregistrée.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'enregistrement.
        "404":
          description: Référence ou version inconnue.
        "422":
          description: Résultat, artefact ou état invalide.
        "503":
          description: Une dépendance requise est indisponible.
  /realms:
    get:
      tags: [Realms]
      operationId: listerRealms
      summary: Liste les realms visibles de la session (CAP-CORE-012).
      security: [{bearerSession: []}]
      responses:
        "200": { description: Liste des realms visibles. }
        "401": { description: Session invalide. }
    post:
      tags: [Realms]
      operationId: inscrireRealm
      summary: Inscrit un realm dans le registre, en PREPARATION.
      security: [{bearerSession: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identite_reference, code_canonique, type_realm_reference, nom_affichage, classification_reference]
              properties:
                identite_reference: { type: string, maxLength: 64 }
                code_canonique: { type: string, maxLength: 128 }
                type_realm_reference: { type: string, enum: [TERRITORIAL, INSTITUTIONNEL, PROGRAMME, MARCHE, PRODUIT, TECHNIQUE, COOPERATION] }
                nom_affichage: { type: string, maxLength: 500 }
                description: { type: string, maxLength: 2000 }
                organisation_responsable_reference: { type: string, maxLength: 64 }
                classification_reference: { type: string, maxLength: 64 }
      responses:
        "201": { description: Realm inscrit. }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse l'inscription. }
        "409": { description: Identité déjà liée ou code déjà utilisé. }
        "422": { description: Dossier invalide ou identité de mauvais type. }
        "503": { description: Une dépendance requise est indisponible. }
  /realms/{reference}:
    get:
      tags: [Realms]
      operationId: resoudreRealm
      summary: Fiche d'un realm et sa dernière révision (CAP-CORE-012).
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      responses:
        "200": { description: Fiche du realm. }
        "401": { description: Session invalide. }
        "404": { description: Référence inconnue ou non visible. }
    patch:
      tags: [Realms]
      operationId: modifierRealm
      summary: Modifie les métadonnées d'un realm, en nouvelle révision.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                nom_affichage: { type: string, maxLength: 500 }
                description: { type: string, maxLength: 2000 }
                organisation_responsable_reference: { type: string, maxLength: 64 }
                classification_reference: { type: string, maxLength: 64 }
      responses:
        "200": { description: Realm modifié, nouvelle révision créée. }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse la modification. }
        "404": { description: Realm inconnu. }
  /realms/{reference}/activation:
    post:
      tags: [Realms]
      operationId: activerRealm
      summary: Active un realm en PREPARATION ou SUSPENDU.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                motif: { type: string, maxLength: 500 }
      responses:
        "200": { description: Realm activé (ou déjà actif, idempotent). }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse l'activation. }
        "404": { description: Realm inconnu. }
        "409": { description: Transition impossible depuis l'état courant. }
  /realms/{reference}/suspension:
    post:
      tags: [Realms]
      operationId: suspendreRealm
      summary: Suspend un realm actif ; ferme les nouveaux rattachements et franchissements.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                motif_reference: { type: string, maxLength: 64 }
                motif_detail: { type: string, maxLength: 500 }
      responses:
        "200": { description: Realm suspendu (ou déjà suspendu, idempotent). }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse la suspension. }
        "404": { description: Realm inconnu. }
        "409": { description: Transition impossible depuis l'état courant. }
  /realms/{reference}/fermeture:
    post:
      tags: [Realms]
      operationId: fermerRealm
      summary: Ferme un realm ; l'historique reste consultable, un successeur peut être déclaré.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                motif_reference: { type: string, maxLength: 64 }
                motif_detail: { type: string, maxLength: 500 }
      responses:
        "200": { description: Realm fermé (ou déjà fermé, idempotent). }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse la fermeture. }
        "404": { description: Realm inconnu. }
        "409": { description: Transition impossible depuis l'état courant. }
  /realms/{reference}/retrait:
    post:
      tags: [Realms]
      operationId: retirerRealm
      summary: Retire irréversiblement un realm ; sa référence n'est jamais réutilisée.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [motif_reference]
              properties:
                motif_reference: { type: string, maxLength: 64 }
                motif_detail: { type: string, maxLength: 500 }
      responses:
        "200": { description: Realm retiré (ou déjà retiré, idempotent). }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse le retrait. }
        "404": { description: Realm inconnu. }
        "422": { description: Motif absent. }
  /realms/{reference}/historique:
    get:
      tags: [Realms]
      operationId: resoudreHistoriqueRealm
      summary: Historique du cycle de vie d'un realm.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      responses:
        "200": { description: Historique du cycle. }
        "401": { description: Session invalide. }
        "404": { description: Realm inconnu ou non visible. }
  /realms/{reference}/relations:
    get:
      tags: [Realms]
      operationId: resoudreRelationsRealm
      summary: Relations déclarées d'un realm (hiérarchiques et autres).
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      responses:
        "200": { description: Relations actives du realm. }
        "401": { description: Session invalide. }
        "404": { description: Realm inconnu ou non visible. }
    post:
      tags: [Realms]
      operationId: declarerRelationRealm
      summary: Déclare une relation PARENT_DE, CHEVAUCHE, EQUIVALENT_OPERATIONNEL, SUCCEDE_A ou COOPERE_AVEC.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [realm_cible_reference, type_relation_reference]
              properties:
                realm_cible_reference: { type: string, maxLength: 64 }
                type_relation_reference: { type: string, enum: [PARENT_DE, INCLUS_DANS, CHEVAUCHE, EQUIVALENT_OPERATIONNEL, SUCCEDE_A, COOPERE_AVEC] }
                date_debut: { type: string, format: date }
      responses:
        "201": { description: Relation déclarée. }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse la déclaration. }
        "404": { description: Realm source ou cible inconnu. }
        "409": { description: Cycle hiérarchique détecté ou auto-relation. }
  /realms/{reference}/relations/{relation}/fermeture:
    post:
      tags: [Realms]
      operationId: fermerRelationRealm
      summary: Ferme une relation entre realms, datée.
      security: [{bearerSession: []}]
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: relation
          required: true
          schema: { type: string }
      responses:
        "200": { description: Relation fermée. }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse la fermeture. }
        "404": { description: Relation inconnue. }
  /realms/{reference}/parents:
    get:
      tags: [Realms]
      operationId: resoudreParentsRealm
      summary: Realms parents directs (PARENT_DE) d'un realm.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      responses:
        "200": { description: Parents directs. }
        "401": { description: Session invalide. }
        "404": { description: Realm inconnu ou non visible. }
  /realms/{reference}/enfants:
    get:
      tags: [Realms]
      operationId: resoudreEnfantsRealm
      summary: Realms enfants directs (PARENT_DE) d'un realm.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      responses:
        "200": { description: Enfants directs. }
        "401": { description: Session invalide. }
        "404": { description: Realm inconnu ou non visible. }
  /realms/{reference}/perimetres:
    get:
      tags: [Realms]
      operationId: resoudrePerimetresRealm
      summary: Périmètres déclarés d'un realm.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      responses:
        "200": { description: Périmètres actifs. }
        "401": { description: Session invalide. }
        "404": { description: Realm inconnu ou non visible. }
    post:
      tags: [Realms]
      operationId: declarerPerimetreRealm
      summary: Déclare une dimension de périmètre canonique.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dimension_reference, valeur_reference]
              properties:
                dimension_reference: { type: string, enum: [PAYS, REGION, VILLE, JURIDICTION, MARCHE, DOMAINE_ACTIVITE, PROGRAMME, ENVIRONNEMENT, INSTITUTION, CLASSIFICATION_DONNEES] }
                valeur_reference: { type: string, maxLength: 255 }
                valeur_externe: { type: string, maxLength: 255 }
                systeme_externe_reference: { type: string, maxLength: 128 }
                date_debut: { type: string, format: date }
      responses:
        "201": { description: Périmètre déclaré. }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse la déclaration. }
        "404": { description: Realm inconnu. }
        "422": { description: Dimension hors liste close. }
  /realms/{reference}/perimetres/{perimetre}/fermeture:
    post:
      tags: [Realms]
      operationId: fermerPerimetreRealm
      summary: Ferme un périmètre déclaré, daté.
      security: [{bearerSession: []}]
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: perimetre
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Périmètre fermé. }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse la fermeture. }
        "404": { description: Périmètre inconnu. }
  /realms/{reference}/identifiants-externes:
    get:
      tags: [Realms]
      operationId: resoudreIdentifiantsExternesRealm
      summary: Identifiants externes actifs d'un realm.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      responses:
        "200": { description: Identifiants externes actifs. }
        "401": { description: Session invalide. }
        "404": { description: Realm inconnu ou non visible. }
    post:
      tags: [Realms]
      operationId: declarerIdentifiantExterneRealm
      summary: Déclare un identifiant externe (code pays, référence institutionnelle...).
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [systeme_reference, valeur]
              properties:
                systeme_reference: { type: string, maxLength: 128 }
                valeur: { type: string, maxLength: 255 }
                date_debut: { type: string, format: date }
      responses:
        "201": { description: Identifiant externe déclaré. }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse la déclaration. }
        "404": { description: Realm inconnu. }
        "409": { description: Couple système/valeur déjà actif. }
  /realms/{reference}/organisations:
    get:
      tags: [Realms]
      operationId: resoudreOrganisationsRealm
      summary: Organisations rattachées à un realm.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      responses:
        "200": { description: Organisations rattachées actives. }
        "401": { description: Session invalide. }
        "404": { description: Realm inconnu ou non visible. }
    post:
      tags: [Realms]
      operationId: rattacherOrganisationRealm
      summary: Rattache une organisation active (CAP-CORE-002) à un realm.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [organisation_reference, role_reference, classification_reference]
              properties:
                organisation_reference: { type: string, maxLength: 64 }
                role_reference: { type: string, enum: [RESPONSABLE, OPERATEUR, PARTICIPANT, REGULATEUR, BENEFICIAIRE, OBSERVATEUR] }
                classification_reference: { type: string, maxLength: 64 }
                date_debut: { type: string, format: date }
      responses:
        "201": { description: Organisation rattachée. }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse le rattachement. }
        "404": { description: Realm ou organisation inconnu. }
        "422": { description: Rôle hors liste close, organisation inactive ou mandat insuffisant. }
        "503": { description: CAP-CORE-002 indisponible. }
  /realms/{reference}/organisations/{rattachement}/fermeture:
    post:
      tags: [Realms]
      operationId: detacherOrganisationRealm
      summary: Détache une organisation rattachée à un realm, datée.
      security: [{bearerSession: []}]
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: rattachement
          required: true
          schema: { type: string }
      responses:
        "200": { description: Organisation détachée. }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse le détachement. }
        "404": { description: Rattachement inconnu. }
  /realms/{reference}/produits:
    get:
      tags: [Realms]
      operationId: resoudreProduitsRealm
      summary: Produits rattachés à un realm.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      responses:
        "200": { description: Produits rattachés actifs. }
        "401": { description: Session invalide. }
        "404": { description: Realm inconnu ou non visible. }
    post:
      tags: [Realms]
      operationId: rattacherProduitRealm
      summary: Rattache un produit actif (CAP-CORE-011) à un realm.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [produit_reference, role_reference]
              properties:
                produit_reference: { type: string, maxLength: 64 }
                role_reference: { type: string, enum: [OPERE_DANS, FOURNIT_SERVICE, CONSOMME_SERVICE, ADMINISTRE, OBSERVE] }
                environnement_reference: { type: string, maxLength: 64 }
                date_debut: { type: string, format: date }
      responses:
        "201": { description: Produit rattaché. }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse le rattachement. }
        "404": { description: Realm ou produit inconnu. }
        "422": { description: Rôle hors liste close, produit inactif ou environnement inconnu. }
        "503": { description: CAP-CORE-011 indisponible. }
  /realms/{reference}/produits/{rattachement}/fermeture:
    post:
      tags: [Realms]
      operationId: detacherProduitRealm
      summary: Détache un produit rattaché à un realm, daté.
      security: [{bearerSession: []}]
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: rattachement
          required: true
          schema: { type: string }
      responses:
        "200": { description: Produit détaché. }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse le détachement. }
        "404": { description: Rattachement inconnu. }
  /realms/{reference}/contrats:
    get:
      tags: [Realms]
      operationId: resoudreContratsRealm
      summary: Contrats rattachés à un realm.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      responses:
        "200": { description: Contrats rattachés actifs. }
        "401": { description: Session invalide. }
        "404": { description: Realm inconnu ou non visible. }
    post:
      tags: [Realms]
      operationId: rattacherContratRealm
      summary: Rattache un contrat actif ou déprécié (CAP-CORE-009) à un realm.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contrat_reference, role_reference]
              properties:
                contrat_reference: { type: string, maxLength: 64 }
                version_reference: { type: string, maxLength: 32 }
                role_reference: { type: string, enum: [GOUVERNE, SUPPORTE, AUDITE] }
                date_debut: { type: string, format: date }
      responses:
        "201": { description: Contrat rattaché. }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse le rattachement. }
        "404": { description: Realm ou contrat inconnu. }
        "422": { description: Rôle hors liste close ou contrat inactif. }
        "503": { description: CAP-CORE-009 indisponible. }
  /realms/{reference}/contrats/{rattachement}/fermeture:
    post:
      tags: [Realms]
      operationId: detacherContratRealm
      summary: Détache un contrat rattaché à un realm, daté.
      security: [{bearerSession: []}]
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: rattachement
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Contrat détaché. }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse le détachement. }
        "404": { description: Rattachement inconnu. }
  /realms/{reference}/franchissements:
    get:
      tags: [Realms]
      operationId: resoudreFranchissementsRealm
      summary: Franchissements déclarés d'un realm (source ou cible).
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      responses:
        "200": { description: Franchissements actifs. }
        "401": { description: Session invalide. }
        "404": { description: Realm inconnu ou non visible. }
    post:
      tags: [Realms]
      operationId: declarerFranchissementRealm
      summary: Déclare un franchissement explicite PERMET ou REFUSE entre deux realms.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [realm_cible_reference, objet_reference, type_objet_reference, effet_reference, finalite_reference]
              properties:
                realm_cible_reference: { type: string, maxLength: 64 }
                objet_reference: { type: string, maxLength: 255 }
                type_objet_reference: { type: string, maxLength: 64 }
                effet_reference: { type: string, enum: [PERMET, REFUSE] }
                finalite_reference: { type: string, maxLength: 255 }
                contrat_reference: { type: string, maxLength: 64 }
                date_debut: { type: string, format: date }
      responses:
        "201": { description: Franchissement déclaré. }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse la déclaration. }
        "404": { description: Realm source ou cible inconnu. }
        "422": { description: Wildcard interdit, effet inconnu ou contrat inactif. }
  /realms/{reference}/franchissements/{franchissement}/fermeture:
    post:
      tags: [Realms]
      operationId: fermerFranchissementRealm
      summary: Ferme un franchissement déclaré, daté.
      security: [{bearerSession: []}]
      parameters:
        - $ref: "#/components/parameters/Reference"
        - in: path
          name: franchissement
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Franchissement fermé. }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse la fermeture. }
        "404": { description: Franchissement inconnu. }
  /realms/{reference}/verification:
    get:
      tags: [Realms]
      operationId: resoudreVerificationRealm
      summary: Dernière vérification enregistrée d'un realm.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      responses:
        "200": { description: Vérification courante, ou absente. }
        "401": { description: Session invalide. }
        "404": { description: Realm inconnu ou non visible. }
  /realms/{reference}/verifications:
    post:
      tags: [Realms]
      operationId: enregistrerVerificationRealm
      summary: Enregistre une vérification de realm, en ajout seul.
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type_verification_reference, resultat_reference, verifie_par_reference]
              properties:
                type_verification_reference: { type: string, enum: [CONFORMITE_JURIDIQUE, CONFORMITE_TECHNIQUE, REVUE_AUTORITE] }
                resultat_reference: { type: string, enum: [CONFORME, NON_CONFORME, A_REVOIR] }
                verifie_par_reference: { type: string, maxLength: 64 }
                verifie_le: { type: string, format: date }
                expire_le: { type: string, format: date }
                motif: { type: string, maxLength: 500 }
      responses:
        "201": { description: Vérification enregistrée. }
        "401": { description: Session invalide. }
        "403": { description: CAP-CORE-004 refuse l'enregistrement. }
        "404": { description: Realm inconnu. }
        "422": { description: Auto-attestation interdite ou vocabulaire hors liste close. }
  /realms/{reference}/portee:
    post:
      tags: [Realms]
      operationId: verifierPorteeRealm
      summary: Contrôle de portée déterministe ; ne constitue jamais une autorisation (CAP-CORE-012, CAP-CORE-004 décide).
      security: [{bearerSession: []}]
      parameters: [{ $ref: "#/components/parameters/Reference" }]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                organisation: { type: string, maxLength: 64 }
                produit: { type: string, maxLength: 64 }
                contrat: { type: string, maxLength: 64 }
                operation: { type: string, maxLength: 255 }
[...]
