openapi: 3.1.0
info:
  title: GAMAD Core API
  version: 1.0.0
  description: >-
    Première API opérationnelle du Core. Toute écriture d'identité exige une
    session bearer, une décision CAP-CORE-004, un mandat actif lorsque le canal
    est réservé, et une preuve dans le journal opérationnel.
servers:
  - url: https://console.dgafrique.com/api/v1
    description: Serveur GAMAD Core.
tags:
  - name: Exploitation
  - name: Sessions
  - name: Identités
  - name: Autorisation
  - name: Fédération
paths:
  /health/live:
    get:
      tags: [Exploitation]
      operationId: verifierVie
      summary: Vérifie que le processus HTTP répond.
      responses:
        "200":
          description: Processus vivant.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vie"
  /health/ready:
    get:
      tags: [Exploitation]
      operationId: verifierReadiness
      summary: Vérifie connexions, migrations, configuration et chaîne d'audit.
      responses:
        "200":
          description: Service prêt à recevoir du trafic.
        "503":
          description: Une dépendance ou exigence de production manque.
  /sessions:
    post:
      tags: [Sessions]
      operationId: ouvrirSession
      summary: Échange un authentificateur contre une session bearer temporaire.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entite, secret]
              properties:
                entite:
                  type: string
                  maxLength: 64
                secret:
                  type: string
                  writeOnly: true
      responses:
        "201":
          description: Session ouverte. La réponse ne doit jamais être mise en cache.
          headers:
            Cache-Control:
              schema:
                type: string
              example: no-store
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          description: Identifiant ou secret refusé.
        "429":
          description: Limite de tentatives atteinte.
        "503":
          description: Journal indisponible; aucune session n'est conservée.
  /sessions/passkey/options:
    post:
      tags: [Sessions]
      operationId: preparerSessionPasskey
      summary: Prépare une assertion WebAuthn à vérification utilisateur obligatoire.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entite]
              properties:
                entite:
                  type: string
                  maxLength: 64
      responses:
        "200":
          description: Challenge public, temporaire et à usage unique.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CeremoniePasskey"
        "429":
          description: Limite de tentatives atteinte.
        "503":
          description: Registre d'accès indisponible.
  /sessions/passkey:
    post:
      tags: [Sessions]
      operationId: ouvrirSessionPasskey
      summary: Vérifie l'assertion WebAuthn et ouvre une session bearer A2.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entite, ceremonie, credential]
              properties:
                entite:
                  type: string
                  maxLength: 64
                ceremonie:
                  type: string
                  maxLength: 64
                credential:
                  type: object
                  additionalProperties: true
      responses:
        "201":
          description: Session A2 ouverte et auditée; réponse non cachable.
          headers:
            Cache-Control:
              schema:
                type: string
              example: no-store
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          description: Assertion, challenge ou entité refusé.
        "429":
          description: Limite de tentatives atteinte.
        "503":
          description: Journal indisponible; la session A2 est révoquée.
  /sessions/current:
    delete:
      tags: [Sessions]
      operationId: fermerSession
      security:
        - bearerSession: []
      responses:
        "200":
          description: Résultat de la révocation et preuve.
        "401":
          description: Session invalide.
  /autorisation/decisions:
    post:
      tags: [Autorisation]
      operationId: prendreDecisionAutorisation
      security:
        - bearerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  maxLength: 256
                ressource:
                  type: [string, "null"]
                  maxLength: 256
      responses:
        "200":
          description: Décision expliquée, mandat constaté et preuve chaînée.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecisionAvecPreuve"
        "401":
          description: Session invalide.
        "503":
          description: Une dépendance requise est indisponible.
  /identites:
    get:
      tags: [Identités]
      operationId: listerIdentites
      security:
        - bearerSession: []
      parameters:
        - in: query
          name: type
          schema:
            type: string
      responses:
        "200":
          description: Inventaire des identités lisibles.
        "401":
          description: Session invalide.
    post:
      tags: [Identités]
      operationId: inscrireIdentite
      summary: Inscrit une identité après autorisation et vérification du mandat.
      description: >-
        La politique `POL-INSCRIPTION-IDENTITES-V1` permet à
        `AUT-GAMAD-001`, sous mandat actif, d'utiliser les canaux réservés
        `AUTORITE` et `CREATION_TECHNIQUE`. Les autres sujets et les dossiers
        hors politique restent refusés.
      security:
        - bearerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InscriptionIdentite"
      responses:
        "201":
          description: Identité inscrite et preuve produite.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'action ou le mandat réservé manque.
        "422":
          description: Le registre d'identités refuse le dossier gouverné.
        "503":
          description: Le journal est indisponible; aucune écriture n'a lieu.
  /identites/{reference}:
    get:
      tags: [Identités]
      operationId: lireIdentite
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Identité résolue.
        "404":
          description: Identité inconnue.
  /identites/{reference}/regime:
    get:
      tags: [Identités]
      operationId: lireRegimeIdentite
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Régime de vérité de l'identité.
        "404":
          description: Identité inconnue.
  /identites/{reference}/assurance:
    get:
      tags: [Identités]
      operationId: lireAssuranceIdentite
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Reference"
      responses:
        "200":
          description: Assurance de l'identité autorisée.
        "403":
          description: L'appelant n'est ni l'identité ni l'autorité.
  /mandats/{fonction}:
    get:
      tags: [Autorisation]
      operationId: lireMandat
      security:
        - bearerSession: []
      parameters:
        - in: path
          name: fonction
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Mandat résolu.
        "404":
          description: Aucun mandat applicable.
  /produits:
    get:
      tags: [Fédération]
      operationId: listerProduits
      summary: Catalogue des satellites et accès de l'identité appelante.
      description: >-
        Ne restitue que ce que le Portail peut montrer : nom du produit, état
        d'activation, niveau d'accès et dernière ouverture. Aucune donnée métier
        du satellite ne traverse cette frontière.
      security:
        - bearerSession: []
      responses:
        "200":
          description: Produits connus et accès actifs du porteur.
        "401":
          description: Session invalide.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{produit}/ouverture:
    post:
      tags: [Fédération]
      operationId: ouvrirAccesFedere
      summary: Provisionne le compte local et émet un jeton borné au satellite.
      description: >-
        Le provisionnement est idempotent : répéter la demande ne crée pas un
        second compte local. Le jeton émis est limité à ce satellite, à une
        durée courte, aux portées de la liste close, à la session Core et au
        niveau d'assurance qui l'ont produit. Il n'est retourné qu'une fois.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Produit"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                identite:
                  type: string
                  maxLength: 64
                  description: >-
                    Par défaut l'identité de la session. Ouvrir pour autrui
                    n'est possible qu'à l'autorité d'inscription.
                relation_type:
                  type: string
                  enum:
                    [
                      UTILISATEUR,
                      CLIENT,
                      ANNONCEUR,
                      ADMINISTRATEUR,
                      OPERATEUR,
                      RESPONSABLE_PRODUIT,
                      PROPRIETAIRE_INSTITUTIONNEL,
                      PARTENAIRE,
                    ]
                sujet_local_opaque:
                  type: string
                  maxLength: 256
                duree:
                  type: integer
                  minimum: 30
                  maximum: 300
      responses:
        "201":
          description: Accès ouvert, jeton fédéré remis une seule fois.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse l'ouverture.
        "422":
          description: >-
            Produit non reconnu, identité non utilisable, acteur incompétent ou
            durée hors bornes.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{produit}/verification:
    post:
      tags: [Fédération]
      operationId: verifierJetonFedere
      summary: Échange un jeton fédéré contre l'identité qu'il porte.
      description: >-
        Réservé au satellite destinataire, qui s'authentifie sous sa propre
        référence produit. Le jeton est à usage unique et toutes ses conditions
        sont revérifiées à la présentation : audience, expiration, révocation,
        session Core et lien produit.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Produit"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [jeton]
              properties:
                jeton:
                  type: string
                  maxLength: 256
                  writeOnly: true
      responses:
        "200":
          description: Jeton valide et consommé ; identité et portées restituées.
        "401":
          description: Jeton inconnu, étranger, expiré, révoqué ou déjà consommé.
        "403":
          description: L'appelant n'est pas le satellite destinataire.
        "503":
          description: Une dépendance requise est indisponible.
  /produits/{produit}/revocation:
    post:
      tags: [Fédération]
      operationId: revoquerAccesFedere
      summary: Ferme le lien produit et les jetons encore ouverts.
      description: >-
        Ouverte au porteur, au satellite concerné et à l'autorité. Fermer un
        accès ne supprime ni l'identité GAMAD ni les données que le satellite
        détient légalement.
      security:
        - bearerSession: []
      parameters:
        - $ref: "#/components/parameters/Produit"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                identite:
                  type: string
                  maxLength: 64
      responses:
        "200":
          description: Lien clos et jetons fermés.
        "401":
          description: Session invalide.
        "403":
          description: CAP-CORE-004 refuse la révocation.
        "422":
          description: Aucun accès actif à révoquer.
        "503":
          description: Une dépendance requise est indisponible.
components:
  securitySchemes:
    bearerSession:
      type: http
      scheme: bearer
      bearerFormat: SESS
  parameters:
    Reference:
      in: path
      name: reference
      required: true
      schema:
        type: string
    Produit:
      in: path
      name: produit
      required: true
      description: Référence du satellite ; elle est aussi l'audience du jeton.
      schema:
        type: string
        maxLength: 64
  schemas:
    Vie:
      type: object
      required: [statut, service, version_api, observe_le]
      properties:
        statut:
          const: VIVANT
        service:
          const: gamad-core
        version_api:
          const: v1
        observe_le:
          type: string
          format: date-time
    Preuve:
      type: object
      required: [reference, correlation_id, empreinte, algorithme, signee, cree_le]
      properties:
        reference:
          type: string
        correlation_id:
          type: string
        empreinte:
          type: string
          pattern: "^[0-9a-f]{64}$"
        algorithme:
          const: sha256
        signee:
          const: false
        cree_le:
          type: string
          format: date-time
    Session:
      type: object
      required: [type, jeton, entite, assurance, expire_le, preuve]
      properties:
        type:
          const: Bearer
        jeton:
          type: string
        entite:
          type: string
        assurance:
          type: string
        expire_le:
          type: string
          format: date-time
        preuve:
          $ref: "#/components/schemas/Preuve"
    CeremoniePasskey:
      type: object
      required: [options, ceremonie, expire_le]
      properties:
        options:
          type: object
          additionalProperties: true
        ceremonie:
          type: string
        expire_le:
          type: string
          format: date-time
    DecisionAvecPreuve:
      type: object
      required: [decision, mandat, preuve]
      properties:
        decision:
          type: object
          additionalProperties: true
        mandat:
          type: [object, "null"]
          additionalProperties: true
        preuve:
          $ref: "#/components/schemas/Preuve"
    InscriptionIdentite:
      type: object
      required: [canal, type, libelle]
      properties:
        canal:
          enum: [PRODUIT_RECONNU, ORGANISATION_RECONNUE, AUTORITE, CREATION_TECHNIQUE]
        type:
          enum: [personne, organisation, produit, realm, agent, service]
        libelle:
          type: string
          maxLength: 256
        classification:
          enum: [PUBLIC_ECOSYSTEME, INTERNE, CONFIDENTIEL, RESTREINT, SECRET_CORE]
        provisoire:
          type: boolean
